<div style="text-align:center;"><button  style="margin-top:30px;width: auto;background-color: forestgreen" class=" mat-button" (click)="openAddDialog()">ADD NEW PHOTO</button></div>
<script src="app.module.ts"></script>
<div fxLayout="row wrap" fxLayoutAlign="space-evenly" style="margin-top: 7em; background-color: antiquewhite">
  <div style="margin-bottom: 30px" fxLayoutGap="20px" fxFlexAlign="center center" fxFlex.xl="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="30%" *ngFor="let photo of photos | paginate: {itemsPerPage: 48, currentPage: pageNumber}">
    <mat-card  class=" card mat-elevation-z4 outline" fxFlex="calc(30%-30px)">

      <mat-card-header>
        <div mat-card-avatar style="width: 30px;height: 30px;"></div>
        <mat-card-title >{{photo.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{photo.thumbnailUrl}}">

      <mat-card-actions>
        <div style="text-align: center">
        <button mat-button style="justify-self: center;background-color: darkkhaki" (click)="openDialog(photo)">EDIT</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxLayoutAlign="center">
    <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
  </div>
</div>


